<li class="ui-state-default">
<span class="ui-icon ui-icon-arrow-4"></span>
<span style="font-size:0.9em;color:green;"><%=raw f.object.group_name+": &nbsp;" unless f.object.group_name.blank? %></span>
<span style=""><%= f.object.key %></span>

<a href="#" onclick="$('#schema_field_<%= f.object.id %>').toggle(200); return false;"><span class="ui-icon ui-icon-triangle-1-s"></span></a>

<div style="display:none" class="hide" id="schema_field_<%= f.object.id %>">

  <%# f.text_field :key, :style=>"width:200px"%>
  <div class="span-12 last">
    <br/>
    <%= f.label :short_name, :class=>"span-2" %>
    <%= f.text_field :short_name, :style=>"width:300px"%>
  </div>
  <div class="span-12 last">
    <%= f.label :description, :class=>"span-2" %>
    <%= f.text_area :description, :style=>"width:300px;height:75px;padding:1px;" %>
  </div>
  <div class="span-12 last">
    <%= f.label :group_name, :class=>"span-2" %>
    <%= f.text_field :group_name , :style=>"width:300px;" %>
  </div>

  <div class="span-12 last">
    <label class="span-2">&nbsp;</label>
    <a href="#" onclick="$('#schema_field_<%= f.object.id %>_advanced').toggle(200); return false;" style="float:none;font-size:0.8em;">advanced options</a>
  </div>
  <div class="hidden" id="schema_field_<%= f.object.id %>_advanced" style="display:none"><!-- Advance options -->
    <div class="span-12 last">
    <%= f.label :render_value_func, "Render Value", :class=>"span-2" %>
    <%= f.text_area :render_value_func, :style=>"width:300px;height:75px;padding:1px;" %>
    </div>

    <div class="span-12 last">
    <%= f.label :render_list_value_func, "Render List Value", :class=>"span-2" %>
    <%= f.text_area :render_list_value_func, :style=>"width:300px;height:75px;padding:1px;" %>
    </div>

    <div class="span-12 last">
    <%= f.label :form_type, :class=>"span-2" %>
    <%= f.select :form_type, SchemaField.form_type_options, :style=>"width:300px;height:75px;padding:1px;" %>
    </div>

    <div class="span-12 last">
    <%= f.label :render_form_func, "Render Form", :class=>"span-2" %>
    <%= f.text_area :render_form_func, :style=>"width:300px;height:75px;padding:1px;" %>
    </div>

    <%= f.hidden_field :position, :class => "field_position" %>
  </div>

  <!--
  <%# unless f.object.new_record? %>
    <span class="inline_attr destroy">
      Remove?
      <%# f.check_box :_destroy %>
    </span>
  <%# else %>
    <%# link_to_remove_fields "remove", f %>
  <%# end %>
  -->
</div>


</li>
