<div class="span-24 append-bottom" style="width:2000px;">

  <% @query.view_fields.each_with_index do |f_name, i|%>

    <div class="span-3 bird_column_header <%= i+1 == @query.view_fields.size ? "last" : ""%>">
      <%= @schema.field_name_with_key(f_name) %>
    </div>

  <% end %>
</div>

<% unless birds_list.empty? %>

  <% birds_list.each_with_index do |bird, i| %>
    <div class="span-24 bird_field_row <%= i.odd? ? "even_row" : "odd_row" %>">

      <% @query.view_fields.each_with_index do |f_name, i|%>
        <div class="span-3 bird_field_data <%= i+1 == @query.view_fields.size ? "last" : ""%>">
          <%= truncate(sanitize_for_view(bird.value_of_key(f_name)))%>
        </div>  
      <%end%>  


    </div>
  <% end %>

<% end %>

