

<% form_for @bird, :html => {:multipart => true, :'data-type' => 'html' }, :remote=>true do |f| %>

<% content_for :images do %>
  <div id="media_files">
    <%= render :partial => "assets/assets", :locals => {:assets => @bird.images} %>
  </div>
  <div id="media_file_uploader"></div>
<% end %>


  <%= render "shared/error_message", :target => @bird %>

<% @bird_schema.schema_fields.each do |field|%>

  <% if field.first_in_group? and !field.group_name.blank? %>
    <div class="span-24 prepend-top last bird_field_group_name">
      <h3><%= field.group_name %></h3>
      <hr/>
    </div>
  <% end %>


  <div class="bird_row span-24">
    <div class="span-5">
      <div class="bird_field_name ui-state-default">
        <%= field.short_name %>
        <% if field.short_name != field.description %>
          <a href="#" onclick="$(this).next().toggle(200);return false;" style="float:right" ><span class="ui-icon ui-icon-triangle-1-s"></a>
          <div class="bird_field_description hide">
            <%= field.description %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="span-15 bird_field_value last">

      <% if field.form_type == "String" %>
        <%= f.text_field field.key %>
      <% elsif field.form_type == "Text"%>
        <%= f.text_area field.key %> 
      <% elsif field.form_type == "Built-In" %>
        <%= yield field.key.to_sym if content_for?(field.key.to_sym)%>
      <% else %> 
        <%= render :inline => field.render_form_func , :locals => {:f => f}  %>
      <% end %>
    </div>
  </div>



<% end %>


<%= f.submit "Save" %>


<% end %>

<div class="edit_saved_status ui-state-default">
  <a href="#" onclick="$('div.bird_form form').submit();return false;">Save</a>
  <% unless @bird.id.nil? %>
    <a href="#" style="font-weight:normal;" onclick="save_and_redirect($('div.bird_form form'),'<%= bird_url(@bird) %>');return false;">Save and Preview</a>
  <% end %>
  <p>
    Last Saved: <span class="saved_time"><%= @bird.updated_at.blank? ? "Never" : "#{distance_of_time_in_words_to_now(@bird.updated_at)} ago" %></span>
  </p>
</div>

<script>
  set_bird_form_bindings();
</script>




