
<% form_for @bird do |f| %>
 <%= render "shared/error_message", :target => @bird %>
<% Bird.default_bird_fields_order.each do |field|%>

  <div class="span-24 bird_field_row">
    <%= f.label field, Bird.default_bird_field_names[field][1], :class => "span-4 bird_field_name" %>
    <div class="span-19 last bird_field_data">
      <% if field == "name" or field == "url" %>
        <%= f.text_field field, :cols => 40 %>
      <% elsif field == "genus_type_id" %>
        <%= f.select :genus_type_id, GenusType.find(:all, :order => "name ASC").collect{|g|[g.name, g.id] }, :include_blank => true%>

      <% elsif field == "habitat_id"%>
        <%= f.select :habitat_id, Habitat.find(:all, :order => "name ASC").collect{|h|[h.name, h.id] }, :include_blank => true%>

      <% elsif field == "fse_org_style_id" %>
        <%= f.select :fse_org_style_id, OrgStyle.find(:all, :order => "name ASC").collect{|h|[h.name, h.id] }, :include_blank => true%>

      <% elsif field == "op_org_style_id" %>
        <%= f.select :op_org_style_id, OrgStyle.find(:all, :order => "name ASC").collect{|h|[h.name, h.id] }, :include_blank => true%>

      <% else %>
        <%= f.text_area field, :cols=>60, :rows=>10 %>

      <% end %>
    </div>
  </div>

<% end %>


<%= f.submit "Save" %>


<% end %>
