<div class="search_form append-bottom">
<%= form_tag search_birds_path, :method=>"get" %>

  Search <%= text_field_tag "query[text_search][all]", @query.text_search['all']  %> <%= submit_tag "Search"%>

  <div>
    <!--
    <a href="#" onclick='$("div.search").toggle();return false;'>Advanced Search/Filter Options</a>
    -->
    <div class="span-24 append-bottom prepend-top search" style="<%= @query.nil? ? 'display:none' : ''%>">

      <div class="span-6">
        Classifications<br/>
        <% GenusType.all.each do |g|  %>
          <%= check_box_tag "query[genus_types][#{g.id}]",'1', (@query.genus_types[g.id.to_s] == "1") %>
          <%= truncate(g.name) %><br/> 
        <% end%>
      </div>


      <div class="span-6">
        Habitats<br/>
        <% Habitat.all.each do |h|  %>
          <%= check_box_tag "query[habitats][#{h.id}]",'1', (@query.habitats[h.id.to_s] == "1") %>
          <%= truncate(h.name) %><br/> 
        <% end%>
      </div>



      Order By: <%= select_tag "query[order_by]", raw(Bird.search_sort_options)%>
    </div>
  </div>
</div>
