<div class="search_form_div append-bottom span-24">
<%= form_tag search_birds_path, :method=>"get" , :id => 'search_form'%>

  <div class="span-12">
  Search<br/>
  <%= text_field_tag "query[text_search][all]", @query.text_search['all']  %> <%= submit_tag "Search"%>
  </div>

  <div class="span-3 last">
    Order By: <%= select_tag "query[order_by]", raw(Query.search_sort_options(@query.order_by)), :class=>"submittable"%>
  </div>

  <div class="span-24 append-bottom prepend-top search" style="<%= @query.nil? ? 'display:none' : ''%>">

      <div class="span-6">
        Classifications<br/>
        <% GenusType.all.each do |g|  %>
          <%= check_box_tag "query[genus_types][#{g.id}]",'1', (@query.genus_types[g.id.to_s] == "1"), :class=>"submittable" %>
          <%= truncate(g.name) %><br/> 
        <% end%>
      </div>


      <div class="span-6">
        Habitats<br/>
        <% Habitat.all.each do |h|  %>
          <%= check_box_tag "query[habitats][#{h.id}]",'1', (@query.habitats[h.id.to_s] == "1"), :class=>"submittable" %>
          <%= truncate(h.name) %><br/> 
        <% end%>
      </div>

      <div class="span-5">
        Show Fields:<br/>
        <%= hidden_field_tag 'query[view_fields_list]', @query.view_fields_list,  :class=>"submittable" %>
        <ul id="query_view_fields" class="sortable">
          <% @query.view_fields.each do |f_key |%>
            <li data-field_name="<%= f_key %>"><span class="ui-icon ui-icon-arrow-4"></span><%= @query.schema.field_name_with_key(f_key)%></li>
          <% end %>
        </ul>
      </div>

      <div class="span-5">
        Available Fields:<br/>
        <ul id="query_hide_fields" class="sortable">
          <% @query.hide_fields.each do |f_key |%>
            <li data-field_name="<%= f_key %>"><span class="ui-icon ui-icon-arrow-4"></span><%= @query.schema.field_name_with_key(f_key)%></li>
          <% end %>
        </ul>
      </div>
  
  </div>

</form>
</div>

<script >
  $(function() {
    $( "#query_view_fields, #query_hide_fields" ).sortable({
      connectWith: ".sortable",
      update: function(e, ui){
        $("input#query_view_fields_list").attr("value","")
        $("ul#query_view_fields li").each(function(){
          hidden_fields_list =  $("input#query_view_fields_list")
          val = hidden_fields_list.attr("value")
          hidden_fields_list.attr("value", val +$(this).attr("data-field_name")+",")
        }) 
      }
    }).disableSelection();
  });
</script>
