<div class="search_form_div append-bottom span-24 last">

<%= form_tag search_birds_path, :method=>"get" , :class => 'search_form' do %>

  <div class="span-11 last">
  Search<br/>
  <%= text_field_tag "query[text_search][all]", @query.text_search['all']  %> <%= submit_tag "Search"%>
  </div>
<% end %>


  <!--
  <div class="span-3 last">
    Order By: <%= select_tag "query[order_by]", raw(Query.search_sort_options(@query.order_by)), :class=>"submittable-OFF"%>
  </div>
  -->

  <div class="span-24 last">
    <a href="#" onclick="$('#advanced_search').dialog('open');return false;">
      Advanced Search
    </a> (<%= @query.filter_options_count %>) &nbsp;
    <!--
    <a href="#" onclick="return false;">
      Clear Search Options
    </a>
    -->
  </div>
 

  <div class="ui-state-default hide" id="advanced_search">  

    <%= form_tag search_birds_path, :method=>"get" , :class => 'search_form' do %>

    <div class="span-16 prepend-top">
      <div class="span-2">Text Search</div>
      <div class="span-14 last"><%= text_field_tag "query[text_search][all]", @query.text_search['all']  %></div>
    </div>


    <div class="span-16 prepend-top">
      <div class="span-2">Filter Options</div>
      <div class="span-14 last">
        <div class="span-4">
          <strong>Classifications</strong><br/>
          <% GenusType.all.each do |g|  %>
            <%= check_box_tag "query[genus_types][#{g.id}]",'1', (@query.genus_types[g.id.to_s] == "1"), :class=>"submittable-OFF", :title=>g.name %>
            <%= truncate(g.name, :length=>18) %><br/> 
          <% end%>
        </div>
        <div class="span-4">
          <strong>Habitats</strong><br/>
          <% Habitat.all.each do |h|  %>
            <%= check_box_tag "query[habitats][#{h.id}]",'1', (@query.habitats[h.id.to_s] == "1"), :class=>"submittable-OFF", :title=>h.name %>
            <%= truncate(h.name, :length=>18) %><br/> 
          <% end%>
        </div>
        <div class="span-5 last">
          <strong>Organization Styles</strong> (OP or FSE)<br/>
          <% OrgStyle.all.each do |os|  %>
            <%= check_box_tag "query[org_styles][#{os.id}]",'1', (@query.org_styles[os.id.to_s] == "1"), :class=>"submittable-OFF", :title=>os.name %>
            <%= truncate(os.name, :length=>26) %><br/>
          <% end%>
        </div>
      </div>
    </div><!-- Filter Options-->
      
    <div class="span-16 prepend-top">
      <div class="span-2">View Options</div>
      <div class="span-14 last">
        <div class="span-5">
          <strong>Hidden/Available Fields</strong><br/>
          <ul id="query_hide_fields" class="sortable" style="overflow-y:scroll;height:150px;">
            <% @query.hide_fields.each do |f_key |%>
              <li data-field_name="<%= f_key %>"><span class="ui-icon ui-icon-arrow-4"></span><%= @query.schema.field_name_with_key(f_key)%></li>
            <% end %>
          </ul>
        </div>
        <div class="span-4">
          <strong>Show Fields</strong><br/>
          <%= hidden_field_tag 'query[view_fields_list]', @query.view_fields_list,  :class=>"submittable-OFF" %>
          <ul id="query_view_fields" class="sortable">
            <% @query.view_fields.each do |f_key |%>
              <li data-field_name="<%= f_key %>"><span class="ui-icon ui-icon-arrow-4"></span><%= @query.schema.field_name_with_key(f_key)%></li>
            <% end %>
          </ul>
        </div>
        <div class="span-4 last">
          <strong>Order By</strong><br/>
          <%= select_tag 'query[order_by]',  raw(Query.search_sort_options(@query.order_by)) %>
        </div>
      </div>
    </div><!-- View Options-->
  
    <div class="span-16 prepend-top last">
    <%= submit_tag "Update", :style=>"float:right" %>
    </div>

    <% end %><!--form -->
  </div> <!-- popup div -->



</div>

<script >
  $(function() {
    $("#advanced_search").dialog({
      autoOpen: false,
      minWidth:650
    });
    
    $( "#query_view_fields, #query_hide_fields" ).sortable({
      connectWith: ".sortable",
      placeholder: "ui-state-highlight",
      update: function(e, ui){
        $("input#query_view_fields_list").attr("value","")
        $("ul#query_view_fields li").each(function(){
          hidden_fields_list =  $("input#query_view_fields_list")
          val = hidden_fields_list.attr("value")
          hidden_fields_list.attr("value", val +$(this).attr("data-field_name")+",")
        })
        //$("input#query_view_fields_list").change()
      }
    }).disableSelection();
  });
</script>
