<div class="span-24 append-bottom">  
<div class="bird_title"><%= @bird.name %></div>
<%= link_to "Edit this bird", edit_bird_path(@bird), :style => "float:right;" %>
</div>



<% Bird.default_bird_fields_order.each do |field|%>

  <div class="span-24 bird_field_row">
    <div class="span-4 bird_field_name"><%= Bird.default_bird_field_names[field][1]%></div>
    <div class="span-19 last bird_field_data">

      <% if field == "genus_type_id" %>
        <%= @bird.genus_type.name unless @bird.genus_type.nil?  %>
      <% elsif field == "logo"%>
        <%= image_tag(@bird.logo.asset.url) unless @bird.logo.nil? %>
      <% elsif field == "habitat_id"%>
        <%= @bird.habitat.name unless @bird.habitat.nil?  %>
      <% elsif field == "fse_org_style_id" %>
        <%= @bird.fse_org_style.name unless @bird.fse_org_style.nil?  %>
      <% elsif field == "op_org_style_id" %>
        <%= @bird.op_org_style.name unless @bird.op_org_style.nil?  %>
      <% else %>
        <%= @bird.attributes[field] %>
      <% end %>

    </div>
  </div>

<% end %>

